:root{
    --fond: #fff;
    --text: #000;
}
/*********************/
/*************** RESET*/
/*********************/
body{
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}

/*********************/
/*************** BODY*/
/*********************/
main{
    padding: 0 24px;
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: red;
}
/*************** Header*/
nav {
    display: flex;
    flex-direction: row;
    & .logo{

    }
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;

        & li{
            
            & a{
                text-decoration: none;
                padding: 0 5px;
            }
        }
    }
}

/*********************/
/*************** FOOTER*/
/*********************/
footer{
    padding: 60px 24px;
    background-color: rgb(211, 211, 211);
}
footer p {
    text-align: center;
}