:root{
    --fond: #fff;
    --texte: #000;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--fond);
    background-image: url(/Portfolio/assets/Img/noise.png);
}
h1, h2, h3, p, a, button{
    font-family: "Rubik", serif;
}

/******* HEADER ********/
.header {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    pointer-events: none;
}

/* ⬅ Side MENU */
/* NAVIGATION */
.side-menu {
    pointer-events: all;
    height: 100vh;
    padding: 20px;
    border: 1px solid;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
    position: relative;

    & .logo{
        height: 60px;
        width: 100%;
        background: var(--texte);
    }

    & nav.nav_principal{
        & ul {
            list-style-type: none;
            padding: 0;

            & li.onglet{
                padding: 8px 0px;
                display: flex;
                align-items: center;
                gap: 6px;

                & .icon{
                    height: 28px;
                    width: 28px;
                    background-color: red;
                }

                & a{
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

/* ⬆ Top header */
.top_header {
    pointer-events: all;
    height: 100px;
    border: 1px solid;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 0px;
    border-right: 0px;
    background-color: var(--fond);
    padding-left: 150px;

    & .inner{
        width: 100%;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .barre_rs{
            height: 30px;
            width: 20%;
            background: red;
            position: relative;
        }

        & .right_button{
            display: flex;
            align-items: center;
            gap: 16px;

            & .ld_mode{
                height: 30px;
                width: 30px;
                border-radius: 20px;
            }

            & .CTA{
                display: flex;
                align-items: center;
                height: 30px;
                width: fit-content;
                padding: 16px 24px;
                font-weight: 600;
            }
        }
    }
}

/******* MAIN ********/
main {
    height: 200vh;
    position: relative;
    margin-left: 150px;
    margin-top: 100px;
    padding: 32px;
    background-image: url(/Portfolio/assets/Images/noise.png);
    background-repeat: repeat;
}