:root{
    --C1: #f8f8f5;
    --C2: #050505;
    --font: "Lexend", serif;
    --asset-dot: radial-gradient(var(--color-fg)1px,transparent 0);
    --color-asset: color-mix(in srgb, var(--color-bg) 80%, var(--color-fg));
}

[data-theme="light"] {
    --color-bg: #f8f8f5;
    --color-fg: #050505;
    --border-light: color-mix(in srgb, var(--color-bg) 80%, var(--color-fg));
}
  
[data-theme="dark"] {
    --color-bg: #050505;
    --color-fg: #f8f8f5;
    --border-light: color-mix(in srgb, var(--color-bg) 80%, var(--color-fg))
}
/*********************************/
/*************** RESET */
/*********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************/
/*************** RESET */
/*********************************/


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    cursor: crosshair;
    font-size: 16px;
}
h1, h2, h3, p, span, a{
    font-family: var(--font);
    color: var(--color-fg);

}
button{
    font-family: var(--font);
    background: var(--color-fg);
    color: var(--color-bg);
    border: solid 0px;
}

#toggleButton {
    padding: 10px 20px;
    cursor: pointer;
}
/******* HEADER ********/
.header {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    pointer-events: none;
}

/* ⬅ Side MENU */
/* NAVIGATION */
.side-menu {
    pointer-events: all;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid var(--border-light);
    border-top: 0px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
    position: relative;


    & .logo{
        height: 60px;
        width: 100%;
        background: red;
    }

    & nav.nav_principal{
        & ul {
            list-style-type: none;
            padding: 0;

            & li.onglet{
                display: flex;
                align-items: center;
                justify-content: center;

                & a{
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    padding: 8px 16px;


                    & .icon{
                        display: block;
                        height: 28px;
                        width: 28px;
                        background-color: red;

                    }
                }



            }
        }
    }
}

/* ⬆ Top header */

.top_header {
    pointer-events: all;
    height: 100px;
    border-bottom: 1px solid var(--border-light);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding-left: 150px;

    & .inner{
        width: 100%;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .barre_rs{
            height: 30px;
            width: 20%;
            background: rgb(245, 169, 169);
            position: relative;
        }

        & .right_button{
            display: flex;
            align-items: center;
            gap: 16px;

            & .ld_mode{
                height: 30px;
                width: 30px;
                border-radius: 20px;
            }

            & .CTA{
                display: flex;
                align-items: center;
                height: 30px;
                width: fit-content;
                padding: 16px 24px;
                font-weight: 600;
            }
        }
    }
}
/*****************************************************/
/*************************************** SEC_HERO ********/
/*****************************************************/

.title{
    font-size: 10em;
    font-weight: 800;
    letter-spacing: -8px;
    line-height: 0.8em;
}
.surtitle {
    padding: 6px 12px;
    background: var(--color-fg);
    border-radius: 4px;
    width: fit-content;
    color: var(--color-bg);
}

/*****************************************************/
/*************************************** SEC_PROJET ********/
/*****************************************************/

.contain.col-cards{

    & .card{
        padding: 16px;
        border-radius: 4px;
        border: 1px solid var(--border-light);

        & img{
            height: 300px;
            width: 100%;
            background: rgb(255, 0, 0);
            border-radius: 4px;
        }

        & .card-title {
            display: flex;
            gap: 8px;
            padding: 8px 0px;
            border-bottom: 1px solid var(--border-light);
        }

        & .row_etiquette{

            & .etiquette{
                font-size: 14px;
                padding: 4px 6px;
                border-radius: 50px;
                border: 1px solid var(--border-light);
            }
        }
    }
}

/*****************************************************/
/*************************************** MAIN ********/
/*****************************************************/
/* texture */
.noise {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: calc(infinity);
    opacity: .4;
    background-image: url(../img/noise.png);
    background-repeat: repeat;
    mix-blend-mode: multiply;
    pointer-events: none;
}

main {
    height: 200vh;
    position: relative;
    margin-left: 150px;
    margin-top: 100px;
}
section{
    padding: 32px;
    border-bottom: 1px solid var(--border-light) ;
}
section.sec_hero{
    background-image: radial-gradient(var(--color-asset) 1px, transparent 0);
    background-size: 5px 5px !important;
}

main p{
    font-size: 24px;
}

/*****************************************************/
/*************************************** FOOTER ********/
/*****************************************************/
footer {
    position: relative;
    margin-left: 150px;
    padding: 32px;
    background-color: var(--C2);
}
footer p{
    color: var(--C1);
}



/*test*/
.sec1 .container {
    flex-direction: column;
    gap: 2rem;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #393943;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .box {
    background-color: white;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 10%;
  }
  
  .box1 {
    background-color: #17b12a;
  }
  
  .box2 {
    background-color: #3c6ae7;
  }