<div class="header">
    <div class="side-menu">
        <div class="logo"></div>
        </div>
        <div class="top_header">
            <div class="inner">
                <nav class="nav_principal">
                    <ul>
                        {{ range .Site.Menus.header }}
                        <li class="onglet">
                            <a href="{{ .URL }}">
                                <div class="icon"></div>{{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
                <div class="right_button">
                    <button id="toggleButton" type="button" data-theme-toggle aria-label="light"> Color Mode
                    </button>
                    <button class="CTA">Contactez moi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noise"></div>
