<div class="header">
    <div class="side-menu">
        <div class="logo"></div>
        <nav class="nav_principal">
            <ul>
                {{ range .Site.Menus.header }}
                <li class="onglet">
                    <div class="icon"></div>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        </div>
        <div class="top_header">
            <div class="inner">
                <div class="barre_rs">
                </div>
                <div class="right_button">
                    <button class="ld_mode"></button>
                    <button class="CTA">Contactez moi</button>
                </div>
            </div>
        </div>
    </div>
</div>
