{{ define "main" }}
<!-- <section class="sec0">
    {{ .Content }}
    </section> -->
<section class="sec_hero">
  <div class="contain">
    <p class="surtitle">Hello</p>
    <p class="title">Webdesigner</p>
  </div>
  <div class="inner-contain">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae metus non augue sodales volutpat.</p>
    <div class="inner-button">
      <button classe="secondaire">En savoir plus</button>
      <button classe="principale">Contactez</button>
    </div>
  </div>
</section>
<section class="sec_bandeau">

</section>
<section class="sec_projet">
  <div class="contain">
    <h2>Projet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae metus non augue sodales volutpat.</p>
  </div>
  <div class="contain col-cards">
    <div class="card">
      <img src="" alt="">
      <div class="title">
        <span>01</span>
        <h3>titre du projet</h3>
      </div>
      <div class="row_etiquette">
        <span class="etiquette">mot</span>
        <span class="etiquette">mot</span>
      </div>
    </div>
    <div class="card">
      <img src="" alt="">
      <div class="title">
        <span>01</span>
        <h3>titre du projet</h3>
      </div>
      <div class="row_etiquette">
        <span class="etiquette">mot</span>
        <span class="etiquette">mot</span>
      </div>
    </div>
  </div>
</section>

<section class="sec1">
  <h2>Exemple 1</h2>
  <div class="container">
    <div class="box box1"></div>
    <div class="box box2"></div>
  </div>
</section>
{{ end }}